<div class="px-10 py-8">
    <div class="pb-4 text-2xl font-medium leading-normal text-textDarkest">
        Vous-étes sur de supprimer cette tache ?
    </div>
    <p class="pb-4 whitespace-pre-wrap text-15" style="color: red">Cet action n'est pas reversible.</p>
    <div class="flex pt-3">
        <j-button className="btn-primary mr-2" (click)="deleteIssue()">Supprimer</j-button>
        <j-button className="'btn-empty'"
                  (click)="closeModal()">
            Annuler</j-button>
    </div>
</div>
